@import 'ember-paper';

#header {
  text-align: center;
  font-family: cursive;
  font-weight: bold;
  font-size: 2em;
}

ul{
  list-style: none;
}
body {
  background-color: ivory;
  text-align: center;
  height: auto;
  padding-bottom: 10%;
}

img {
  height: 300px;
  width: 500px;
}

.item{
  height: 300px;
  width: 300px;
}
